<div class="card-content">
  <div class="card-img">
    <img src="https://placeimg.com/380/230/nature" alt="">
    <span>
      <h4>{{posicion}}</h4>
    </span>
  </div>
  <div class="card-desc">
    <h3>{{destino.nombre}}</h3>
    <p>Servicios</p>
    <ul>
      <li *ngFor="let s of destino.servicios">
        <span class="container" [ngSwitch]="s">
          <i *ngSwitchCase="'Desayuno'" style="color: red;">{{s}}</i>
          <i *ngSwitchDefault>{{s}}</i>
        </span>
      </li>
    </ul>
    <div>
      <a href="#" (click)="VoteUp()"><i class="material-icons md-18">thumb_up</i></a>
      <a href="#" (click)="VoteDown()"><i class="material-icons md-18">thumb_down</i></a>
      {{destino.votes}}
    </div>
    <a href="#" class="btn-card" (click)="ir()">Ir</a>
    <span *ngIf="destino.isSelected()">
      <span ngNonBindable>{{Preferido}}</span>
    </span>
    <a [routerLink]="['/destino', destino.id]">Ver</a>
  </div>
</div>
